.description {
    width: 93%;
    margin: 20px 15px;
    border: 1px solid #9BCEAB;
    border-radius: 12px;
    color: #fff;
    background-color: #3A3B00;
    text-align: left;
    padding: 10px;
}